# InfluxDB (token currently not used)
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=secrettoken
INFLUXDB_BUCKET=influx
INFLUXDB_ORG=my-org

# Spotify
SPOTIFY_CLIENT_ID=123
SPOTIFY_CLIENT_SECRET=123
SPOTIFY_REDIRECT_URL=http://localhost:8080/callback.php

# Grafana redirect (leave empty for no recirect after login)
GRAFANA_DASHBOARD_URL=http://localhost:3000/d/spotisights/current-user

# Services
#ACTIVE_SERVICES=spotify
ACTIVE_SERVICES=spotify

# Spotify
# retrieves data for X history entries each crawl (max 50)
SPOTIFY_CRAWL_BULK_LIMIT=50
